* {
     margin: 0px;
     padding: 0px;
}

.home {
     background-size: 100% 100%;
     width: 100%;
     height: 620px;

}

.home .nav {
     background-color: rgba(0, 0, 0, 0.5);
     overflow: auto;
     background-color: white;
}

.home .nav ul {
     list-style-type: none;
     margin: 5px;
     padding: 5px;
}

.home .nav ul li {
     float: right;
     margin: 10px 10px;
}

.home .nav ul li a {
     color: black;
     text-decoration: none;
     padding: 10px 50px 5px 0px;
     font-size: 20px;
}

.home .nav ul li img {
     width: 54px;

}

.home .nav ul .logo {
     float: left;
     margin-top: 5px;
}

/*  ==== End Nav ==== */

.hero-section {
     background-image: url("./media/Header-Background.jpg");
     height: 100%;
     background-position: 75% 25%;
     background-repeat: no-repeat;
     background-size: cover;
     background-color: rgba(0, 0, 0, 0.9);
     color: aliceblue;
}

.hero-section button {
     background-color: #ffff;
     border: none;
     color: #222;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin-top: 20px;
}

.hero-section .hero-section-content {
     text-align: center;
     padding-top: 250px;
     margin: 5px;
}

.h1-inside-hero-section {
     padding-bottom: 5px;
}

/* End Hero Section */

.products {
     background-color: black;
     padding: 100px 0px;
     text-align: center;
     display: flex;
}

.products .productheader h1 {
     margin-right: 40px;
     margin-left: 10px;
     font-size: 40px;
     font-family: sans-serif;
     color: white;

}

.products .item p {
     padding-top: 15px;
     padding-left: 5px;

}

.products .item button {
     background-color: #ffff;
     border: none;
     color: black;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin-top: 20px;
}

.products .item .button:hover {
     background-color: gray;
}

.products hr {
     width: 40%;
     margin: auto;
}

.products .item {
     width: 20%;
     height: auto;
     padding-bottom: 10px;
     text-align: center;
     background-color: #222;
     margin-top: 10px;
     color: white;
     border-radius: 20px;
     margin-right: 10px;
}

.products .item img {
     width: 100%;
     height: auto;
}

.products .item .item-content {
     padding-top: 10px;
}

.about-section {
     width: 400%;
     height: 100%;
     position: absolute;
}

.about-img-sec img {
     width: 400px;
     height: auto;
     top: auto;
     left: 0px;
     position: relative;
}

.grid-container {
     margin: 50px 20px 0px 20px;
     display: grid;
     grid-template-columns: auto auto auto;
     padding: 10px;
}

.grid-item {
     background-color: rgba(255, 255, 255, 0.8);
     border: 1px solid rgba(0, 0, 0, 0.8);
     padding: 20px;
     font-size: 30px;
     text-align: center;
     align-items: center;
}

#p-inside-about-sec {
     font-size: 16px;
     margin-top: 20px;
}

.about-content {
     padding-top: 100px;
}

/* End Website Content */

.footer-content {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     margin: 50px 0px 20px 0px;
}